[api]
local_port = 8080
[slurmdb]
host = slurmdb
port = 3306
dbname = slurmdb
user = slurmdb
password = changeme
job_table = changeme_job_table
[ldap]
server = ldaps://ldapserver:636
search_base = People,dc=computecanada,dc=ca
