aiohttp==3.7.4.post0
async-timeout==3.0.1
attrs==20.3.0
cachetools==4.2.2
chardet==4.0.0
idna==3.1
idna-ssl==1.1.0
multidict==5.1.0
mysqlclient==2.0.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
python-ldap==3.3.1
typing-extensions==3.10.0.0
yarl==1.6.3
